@model IEnumerable<hcl_medicator.Models.PrescriptionModel>

@{
    ViewBag.Title = "View All Prescriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Latest Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />


<div class="container mt-5">
    <h2 class="text-center fw-bold">All Prescriptions</h2>
    <div class="text-end mb-3">
        @Html.ActionLink("Create New Prescription", "savePrescriptions", null, new { @class = "btn btn-outline-warning" })
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Prescription ID: @Html.DisplayFor(modelItem => item.PrescriptionID)</h5>
                        <p class="card-text">Text Content: @Html.DisplayFor(modelItem => item.TextContent)</p>
                        <p class="card-text">File Path: @Html.DisplayFor(modelItem => item.FilePath)</p>
                        <p class="card-text">User ID: @Html.DisplayFor(modelItem => item.UserID)</p>
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink("Edit", "Edit", new { id = item.PrescriptionID }, new { @class = "btn btn-outline-secondary btn-sm" })
                        @Html.ActionLink("Search", "SearchByPrescription", new { id = item.PrescriptionID }, new { @class = "btn btn-outline-secondary btn-sm" })
                        @Html.ActionLink("Delete", "DeletePrescription", new { id = item.PrescriptionID }, new { @class = "btn btn-outline-danger btn-sm" })
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center mt-3">
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "form-inline" }))
        {
            <input type="submit" value="Logout" class="btn btn-secondary" />
            @Html.ActionLink("Back to List", "ViewAll", null, new { @class = "btn btn-secondary ml-2" })
            @Html.ActionLink("All Products", "Index", "ProductCatalog", null, new { @class = "btn btn-secondary ml-2" })
            @Html.ActionLink("Upload Image", "ImageIndex", "Image", null, new { @class = "btn btn-success ml-2" })
        }
    </div>
</div>
